@tailwind base;
@tailwind components;
@tailwind utilities;
.box-background{
    background-image: url(/music-icon.png);
    /* background-size: cover; */
    background-size: auto;
    background-repeat: no-repeat;
}
.join-background{
    background-image: url(./assets/join-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.auth-background{
    background-image: url(./assets/signup-pic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-fadeInOut {
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}