@tailwind base;
@tailwind components;
@tailwind utilities;
.box-background{
    background-image: url(./assets/sprinter-cover.jpg);
    /* background-size: cover; */
    background-size: auto;
    background-repeat: no-repeat;
}
.join-background{
    background-image: url(./assets/join-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.auth-background{
    background-image: url(./assets/signup-pic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}